<center><h1>Edit Profile</h1></center>
<%= form_for @user do |f| %>
  <div class="row">
    <div class="well col-md-2 col-md-offset-5">
      <div class="form-group">
        <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
      </div>
      <div>
        <h5 class="edit_profile">Select current city:</h5>
        <%= f.collection_select(:city_id, City.all, :id, :name, {}, {:class=>'edit_dropdown'}) %>
      </div>
      <div class="edit_avatar">
        <input type="hidden" role="uploadcare-uploader" name="user[image]"
                data-crop="disabled"
                data-preview-step="true"
                data-images-only="true" >
      </div>
      <div>
        <center><%= f.submit "Save", class: "btn btn-success" %></center>
      </div>
      </div>
    </div>
  </div>
<% end %>
