<h2>Edit User Information</h2>
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div><br>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div><br>
  <div>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div><br>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div><br>
  <div>
    <%= f.text_field :image, placeholder: "Profile Image Link" %>
  </div><br>
  <%= f.submit %>
<% end %>
