<h1>User#show</h1>
<div>
  <img class="profile_img" src="<%= @user.image %>">
  <br>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Current City: <%= @user.current_city %></p>
  <p>Joined On: <%= @user.created_at.strftime("%m/%d/%Y") %></p>

</div>
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Delete", @owner, method: :delete %>

<p>
  This is the user's post test
</p>
<div>
  <% for post in @posts %>
  <div>
    Title: <%= post.title %>
  </div>
  <div>


    Description: <%= post.content %>
    </div>
    <% end %>
  </div>
</div>
<%= link_to "Add Post", new_user_post_path(@user) %>
