<h1>User#show</h1>
<div>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Password: <%= @user.password_digest %> </p>
  <p>Current City: <%= @user.current_city %></p>
  <p>Image Link: <%= @user.image %></p>
  <p>Joined On: <%= @user.created_at %></p>
</div>
<%= link_to "Edit", edit_user_path(@user) %>
