<div class="row">
  <div class="col-sm-6">
    <div>
      <img class="profile_img img-circle" src="<%= @user.image %>" >
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Current City:</strong> <%= @city %></p>
      <p><strong>Joined:</strong> <%= @user.created_at.strftime("%B %e, %Y") %></p>
    </div>
    <% if current_user && current_user == @user %>
      <div>
        <%= button_to "Edit Profile", edit_user_path(@user), method: 'get', class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h3><strong>Posts:</strong></h3>
    <div>
      <% @posts.reverse_each do |post| %>
        <div>
          <strong><%= link_to "#{post.title}", city_post_path(@city, post) %></strong>
          <br>
          <%= post.content %>
        </div>
        <% if current_user && current_user == @user %>
        <%= link_to "Delete", "#{@user.id}/posts/#{post.id}", method: :delete, data: {confirm: "Are you sure you want to delete #{post.title}?"} %>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>

</div>
