<div class="outer">
    <%= link_to image_tag(@post_city.image, :width => 1440, :height => 500), city_path(@post_city) %>
  <h1 class="city_home_text"><span><%= link_to "#{@post_city.name}", city_path(@post_city), class:'city_name' %></h1></span>
</div>
<div class="container post">
<div class="row">
  <div class="col-md-12">
  <div class="col-sm-6">
    <div class = "profile">
      <img class="profile_img img-circle" src="<%= @author.image %>" >
<p><%= link_to "#{@author.first_name} #{@author.last_name}", user_path(@author) %></p>
<p><strong>Current City:</strong> <%= @user_city %></p>
<p><strong>Joined: <%= @author.created_at.strftime("%B %e, %Y") %></p>

</div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="post">
      <h1><%= @post.title %></h1>
      <h4><%= @post.created_at.strftime("%B %e, %Y") %></h4>
      <p>
      <%= @post.content %>
      </p>
      <div>
        <%= link_to "Edit", edit_city_post_path, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
