<h1>Show Post</h1>
<hr>
<p><strong>Name:</strong> <%= @post.title %>
  <br />
<%= @post.content %>
<br />
<%= @user.first_name %> <%= @user.last_name %>
</p>

<%= link_to "Edit", edit_city_post_path(@city, @post) %>
