<div class="post_page">
<div class="outer">
  <%= link_to image_tag(@post_city.image, :width => 1440, :height => 500), city_path(@post_city) %>
  <h1 class="city_home_text"><span><%= link_to "#{@post_city.name}", city_path(@post_city), class:'city_name' %></h1></span>
</div>
<div class="container post">
  <div class="row">
    <div class="col-sm-4">
      <div class = "profile">
        <%= link_to image_tag(@author.avatar, :width => 250, :class=>'img-circle'), user_path(@author) %>
        <p><strong>Written by: </strong><%= link_to "#{@author.first_name} #{@author.last_name}", user_path(@author) %></p>
        <p><strong>Current city:</strong> <%= @user_city %></p>
        <p><strong>Joined: </strong><%= @author.created_at.strftime("%B %e, %Y") %></p>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="post">
        <h1><%= @post.title %></h1>
        <h4><%= @post.created_at.strftime("%B %e, %Y") %></h4>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</div>
</div>
