<div class="outer">
  <%= image_tag(@city.image, :width => 1440, :height => 500) %>
  <h1 class="city_text"><span><%= @city.name %></h1></span>
  <%= button_to "Add New Post", new_city_post_path(@city), method: 'get', class: 'btn btn-primary add-post' %>
</div>
<div class="container">
  <% @post.reverse_each do |post| %>
    <div class="row">
      <div class="col-md-12">
        <div class="one_post">
          <div class="col-md-4 col-md">
            <div class="profile">
              <%= link_to image_tag(post.user.image, :width => 250, :class => 'img-circle'), user_path(User.find_by_id(post.user_id)) %> 
              <p>Written by: <%= link_to ("#{User.find_by_id(post.user_id).first_name} #{User.find_by_id(post.user_id).last_name}"), user_path(User.find_by_id(post.user_id)) %> </p>
            </div>
          </div>
          <div class="col-md-8 col-md">
            <div class="post">
              <h1><%= link_to post.title, city_post_path(@city, post) %></h1>
              <p>
                <span class='quiet'><small> <%= time_ago_in_words(post.created_at) %> ago </small></span>
              </p>
              <p><%= post.content %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
