<div class="outer">
    <%= image_tag(@city.image, :width => 1440, :height => 500) %>
  <h1 class="city_text"><span><%= @city.name %></h1></span>
</div>

<div>
  <% @post.reverse_each do |post| %>
  <div>
    <h2><%= link_to "#{post.title}", city_post_path(@city, post) %></h2>
  </div>
  <div>
    <p><%= post.content %></p>
  </div>
  <% end %>
  <%= button_to "Add Post", new_city_post_path(@city), method: 'get', class: 'btn btn-primary' %>
</div>
