<div class="outer">
    <%= image_tag(@city.image, :width => 1440, :height => 500) %>
  <h1 class="city_text"><span><%= @city.name %></h1></span>
</div>

<!-- row of posts -->
<% @post.reverse_each do |post| %>
  <div class="row">
    <!-- 2 columns, 1 for picture and 1 for posts -->
    <div class="col-md-2">
      <section class="post_image center">

      </section>
    </div>

    <div class="col-lg-8 well">
      <h1><%= link_to post.title, city_post_path(@city, post) %></h1>
      <h4><%= post.content %></h4>
      <p>
        <span class='quiet'><small> Written by <%= @writter.first_name %> <%= @writter.last_name %> </small></span>
      </p>
      <p>
        <span class='quiet'><small> <%= time_ago_in_words(post.created_at) %> ago </small></span>
      </p>
    </div>
  </div>
  <hr />
<% end %>
<%= button_to "Add Post", new_city_post_path(@city), method: 'get', class: 'btn btn-primary' %>
