<h2><%= @city.name %></h2>
<div>
  <%= image_tag("http://localemagazine.com/wp-content/uploads/2016/03/landmark-bridge-cliff-california.jpeg", width:
  '1300') %>
</div>

<div>
  <% for post in @posts %>
  <div>
    <%= post.title %>
  </div>
  <div>
    <%= post.content %>
  </div>
  <% end %>
  <%= button_to "Add Post", new_city_post_path(@city), method: 'get', class: 'btn btn-primary' %>
</div>
