<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr";
      UPLOADCARE_PUBLIC_KEY = "789a4342fb9dd153defd";
     </script>

    <script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>
  </head>
  <body>
    <div class="row top-header">
      <div class="col-sm-6">
        <div class="pull-left">
          <%= link_to "Vagabond", root_path, class:'font_style' %>
          <% flash.each do |name, msg| %>
            <% if name == "notice"%>
              <span>
                <small id="flash-notice"> <%= name.capitalize %>: <%= msg %> </small>
              </span>
            <% elsif name == "error" %>
              <span>
                <small id="flash-error"> <%= name.capitalize %>: <%= msg %> </small>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">
          <% if current_user %>
            <%= link_to "Cities", root_path, class:'font_style' %> |
            <%= link_to current_user.first_name.capitalize + "'s Profile", user_path(current_user), class:'font_style' %> | <%= link_to "Log Out", logout_path, class:'font_style' %>
          <% else %>
            <%= link_to "Sign Up", new_user_path, class:'font_style' %> | <%= link_to "Log In", login_path, class:'font_style' %></li>
          <% end %>
        </div>
      </div>
  </div>

  <%= yield %>

  </body>
</html>
