<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="row top-header">
      <div class="col-sm-6">
        <div class="pull-left">
          <%= link_to "Home", root_path, class:'font_style' %>
          <% flash.each do |name, msg| %>
            <% if name == "notice"%>
              <span>
                <small id="flash-notice"> <%= name.capitalize %>: <%= msg %> </small>
              </span>
            <% elsif name == "error" %>
              <span>
                <small id="flash-error"> <%= name.capitalize %>: <%= msg %> </small>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">
          <% if current_user %>
            <%= link_to "Cities", root_path, class:'font_style' %> |
            <%= link_to current_user.first_name.capitalize + "'s Profile", user_path(current_user), class:'font_style' %> | <%= link_to "Log Out", logout_path, class:'font_style' %>
          <% else %>
            <%= link_to "Sign Up", new_user_path, class:'font_style' %> | <%= link_to "Log In", login_path, class:'font_style' %></li>
          <% end %>
        </div>
      </div>
  </div>

  <%= yield %>

  </body>
</html>
